@import './variables';

// Fonts
@font-face {
    font-family: 'Dinnextw1g';
    src: url('/fonts/dinnextw1g-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tungsten';
    src: url('/fonts/tungsten-light.woff2') format('woff2'),
        url('/fonts/tungsten-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    font-family: 'Dinnextw1g', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: $light-bg;
}

.light {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark {
    --background-color: #000000;
    --text-color: #ffffff;
}