@import './globals.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1024px){
    .container{
        max-width: 1440px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1440px){
    .container{
        max-width: 1440px;
        padding-left: 120px;
        padding-right: 120px;
    }
}