@import '../../styles/variables';

.footer {
    background-color: $dark-bg;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    color: grey;

    h3 {
        font-size: $fs-800;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-family: $ff-secondary;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .footer-social a {
        color: grey;
    }
}

.footer-privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    text-transform: uppercase;
    margin-bottom: 30px;

    a {
        color: $light-bg;
    }
}

.footer-copyright p {
    color: gray;
}

@media (min-width: 1024px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-logo {
        h3 {
            margin-bottom: 0;
        }

        .footer-social {
            justify-content: start;
            margin-bottom: 0px;
        }
    }

    .footer-privacy-container {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
    }

    .footer-copyright p {
        text-align: end;
    }
}