@import '../../styles/globals.scss';

.hero{
    background-color: $primary;
    padding: 80px 0;

    div img{
        max-width: 600px;
        height: auto;
        width: 100%;
    }
}

.hero-container{
    color: $light-bg;

    h1{
        font-size: $fs-800;
        line-height: 3.75rem;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    h3{
        font-size: $fs-500;
        font-weight: 300;
        margin-bottom: 20px;
    }
}