@import '../../styles/variables';
@import '../../styles/mixins';

.process {
    background-color: $primary;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include container;

    h2 {
        @include subtitle;
    }
}

.processContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

@media (min-width: 1024px) {
    .processContainer {
        flex-direction: row;
        align-items: center;
        gap: 120px;
        justify-content: space-between;
    }
}