@import '../../styles/variables';

.btn {
    color: $light-bg;
    background-color: $text;
    padding: 20px;
    border: none;

    font-size: $fs-300;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: $dark-bg;
    transition: all .3s ease-in-out;
}