@import '../../styles/globals.scss';

.accordion {
  width: 100%;
}

.accordion-item {
  border: 1px solid $border;
}

.accordion-button {
  width: 100%;
  background: $primary;
  font-size: $fs-200;
  color: $light-bg;
  border: none;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: $text;
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 10px;
  color: $text;
  background: $light-bg;
  word-break: break-all;

  p {
    padding: 20px 10px;
    font-size: $fs-200;
  }
}

.active {
  max-height: 150px;
  /* Adjust as needed */
}

.isOpen{
  background: $dark-bg;
}