@import '../../styles/variables';

.navbar {
    background-color: $dark-bg;
    padding: 15px 0;
}

.navbar {

    h3 {
        font-size: $fs-700;
        text-transform: uppercase;
        color: $light-bg;
    }

    h3 span {
        color: $primary;
    }

    .navbar-btn {
        display: none;
        padding: 10px 20px;
        border: none;
        background-color: $primary;
        font-size: $fs-500;
        color: $light-bg;
        font-weight: bold;
        cursor: pointer;
        font-family: $ff-secondary;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $ff-secondary;
}

.navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $dark-bg;
    width: 100%;
    padding: 3rem;
    gap: 20px;
    height: 100dvh;

    a {
        color: $light-bg;
        font-size: $fs-500;
    }
}


.navbar-container .open {
    display: flex;
}

.navbar-menu {
    z-index: 1;
    background: none;
    border: none;
    font-size: $fs-700;
    color: $light-bg;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .navbar-links {
        width: 365px;
    }
}

@media (min-width: 1440px) {
    .navbar-links {
        display: flex;
        flex-direction: row;
        position: static;
        padding: 0;
        gap: 20px;
        height: 100%;
        // width: 442px;
    }

    .navbar-links a:nth-child(5){
        display: none;
    }
    
    .navbar-menu {
        display: none;
    }

    .navbar-btn {
        display: block !important;
    }
}
