@import '../../styles/variables';

.navbar {
    background-color: $dark-bg;
    padding: 10px 0;
}

.navbar {

    h3 {
        font-size: $fs-700;
        text-transform: uppercase;
        color: $light-bg;
    }

    h3 span {
        color: $primary;
    }

    .navbar-btn {
        padding: 10px 20px;
        border: none;
        background-color: $primary;
        font-size: $fs-500;
        color: $light-bg;
        font-weight: bold;
        cursor: pointer;
    }
}

.navbar-links {
    display: flex;
    gap: 10px;

    a {
        color: $light-bg;
    }
}

.navbar-menu {
    background: none;
    border: none;
    font-size: $fs-700;
    color: $light-bg;
    cursor: pointer;
}