@import '../../styles/variables';

.resourceCard {
    border: 1px solid $border;
    background-color: $light-bg;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: .4s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: $primary;
        transform: translateY(-7px);

        .iconContainer {
            background-color: $light-bg;
            color: $primary;
        }

        .title,
        .description {
            color: $light-bg;
        }
    }
}

.iconTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconContainer {
    background-color: $primary;
    color: $light-bg;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon {
    width: 24px;
    height: 24px;
}

.title {
    font-size: $fs-400;
    font-weight: 600;
    margin: 0;
    flex-grow: 1;
    color: $text;
}

.description {
    margin-top: 10px;
    font-size: $fs-300;
    color: $text;
}