@import '../../styles/variables';

.resource-card {
    border: 1px solid $border;
    max-width: 370px;
    background-color: $light-bg;
    width: 100%;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        background-color: $primary;
        color: $light-bg;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .icon p {
        padding: 30px;
    }
}

.text {
    text-align: center;
    color: $text;

    .title {
        font-size: $fs-600;
        font-weight: 600;
        margin-bottom: 10px;
        font-family: $ff-secondary;
    }

    .description {
        font-size: $fs-300;
    }
}

.resource-card:hover {
    background-color: $primary;
    transition: .4s all ease-in-out;
    transform: translateY(-7px);

    .icon {
        background-color: $light-bg;
        color: $primary;
    }

    .text {
        color: $light-bg;
    }
}