@import '../../styles/variables';

.faq {
    background-color: $primary;
    padding: 80px 0;
}

.faq-container {
    h2 {
        font-size: $fs-700;
        color: $light-bg;
        text-transform: uppercase;
        margin-bottom: 48px;
    }
}